<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<meta charset="UTF-8">
		<title>Mongo-Scrape Articles</title>
	</head>
	<body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" id="jumbotron-title">Mongo-Scrape Homework</h1>
                <p id="jumbotron-description" class="lead">Scrape the NY Times and makes notes on each of these articles!</p>
                <button type="button" class="btn btn-info scrape_articles">Scrape Articles</button>
                <button type="button" class="btn btn-danger clear_articles">Clear Scraped Articles</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                Articles
                {{{ body }}}
                </div>
                {{!-- <div class="modal" id="myModal">
                    <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                        Modal body..
                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                
                    </div>
                    </div>
                </div> --}}
            </div>
        </div>

	</body>
</html>
