body {
    background-image: url("../images/funky-lines.png");
}

.jumbotron {
    background-image: url("../images/background-colored-parquet-450066.jpg");
}

#jumbotron-title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

#jumbotron-description {
    text-align: center;
    font-weight: bold;
}

.card {
    margin-bottom: 1.5%;
}

